.Category_container {
    max-width: 1900px;
}

.Category {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    font-family: 'NPSfontBold';
    align-items: center;
}

.all_category {
    color: white;
    font-family: 'NPSfontBold';
    font-size: 15px;
}

.h2 {
    color: white !important;
    margin-bottom: 5px;
    font-size: 19px;
}

.Category_container_112 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    justify-content: space-between;
}

.Category_info {
    flex: 1;
    min-width: 50px;
    max-width: 250px;
    padding-bottom: 20px;

}

.category_img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.P1 {
    white-space: nowrap;
    font-size: 16px;
    font-family: 'NPSfontBold';
    color: white;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.P {
    white-space: nowrap;
    font-size: 12px;
    color: white;
    font-family: 'NPSfontBold';
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}