:root {
    --black: #261A1A;
    --white: #ffffff;
    --gray: #F2F0F0;
    --brown1: #8C6961;
    --brown2: #402422;
    --orange: #D97652;
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


a {
    text-decoration: none;
    color: inherit;
  }


/* logo 폰트 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.logo_font {
  font-family: 'PartialSansKR-Regular', sans-serif;
}