.Contents_container {
    background-color: #261A1A;
}

.homecontainer {
    width: 100%;
    height: 400px;
    z-index: 1;
}

.Layout_contents {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}