.Contents_container {
    background-color: #261A1A;
}

.homecontainer {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 50px 0px 50px;
    z-index: 1;
}

.Layout_contents {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 50px 0px 50px;
    z-index: 1;
}

.Section_contents {

    align-items: center;
    display: flex;
    padding: 0px 50px 0px 50px;
    z-index: 1;
}