/* 
    메인
 */
 .homecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.livecontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 180px - 60px);
  background-color: forestgreen;
}

.infocontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background-color: #261A1A;
}
.infobox {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.infobox > p {
  width: 100%;
  min-height: 50px;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.infobox_content {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
}

.infobox_content_profile {
  width: 100px;
  max-height: 100px;
  border-radius: 50%;
  background-color: white;
}
.infobox_content_remain {
  width: calc(100% - 120px - 20px);
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}
.infobox_content_remain > div {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
}
.infobox_content_remain_name {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-left: 10px;
}
.infobox_content_remain_info {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  color: white;
}
.infobox_content_remain_info > p:nth-child(3) {
  border: 1px solid #63666A;
  color: #63666A;
  border-radius: 12px;
  margin-right: 50px;
  padding: 3px 10px 4px 10px;
}
.infobox_content_remain_info > p:nth-child(2) {
  margin-right: 2px;
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  line-height: 60px;
}
.infobox_content_remain_info > p:nth-child(1) {
  margin-right: 20px;
  color: #63666A;
  font-size: 14px;
  height: 100%;
  line-height: 65px;
}

.btn_borderNone {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.infobox_content_remain_btns{
  display: flex;
  flex-direction: row-reverse;
  padding-right: 10px;
  color: white;
}

.infobox_content_remain_followBtn {
  border-radius: 12px;
  width: 90px;
  height: 40px;
  background-color: #EA6345;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.infobox_content_remain_subscribeBtn{
  border-radius: 12px;
  width: 90px;
  height: 40px;
  background-color: #DBDE30;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
.infobox_content_remain_bellBtn{
  border-radius: 12px;
  width: 40px;
  height: 40px;
  background-color: #63666A;
  margin-right: 5px;
}
.infobox_content_remain_ellipsislBtn{
  border-radius: 12px;
  width: 40px;
  height: 40px;
  background-color: #63666A;
  margin-right: 15px;
}
.infobox_content_remain_ellipsislBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.infobox_content_remain_bellBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.infobox_content_remain_subscribeBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}
.infobox_content_remain_followBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.infobox_content_remain_category {
  color: var(--orange);
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 10px;
}

/* 
  채팅
*/

.live_chat {
    background-color: black;
    width: 350px;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
  }
  .live_chat_title {
    color: var(--white);
    height: 40px;
    border-bottom: 1px solid var(--white);
  }
  .live_chat_title > p {
    font-size: 16px;
    line-height: 40px;
    font-family: "NPSfontBold";
    text-align: center;
  }
  .main_live_chat_inputbox_layout {
    width: 350px;
    height: 100px;
    display: flex;
    bottom: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
  }
  .main_live_chat_inputbox_wrapper {
    width: 320px;
    height: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .main_live_chat_inputbox {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid black;
    font-family: 'NPSfontBold';
    color: white;
    /* 뱃지, 버튼과 거리 두기 */
    padding-left: 40px;
    padding-right: 70px;
    font-size: 14px;
    background-color: #63666A;
  }

  .main_live_chat_inputbox_badge {
    background-color: #ee8143;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    position: absolute;
    top: 14px;
    left: 10px;
    cursor: pointer;
  }

  .main_live_chat_inputbox_btn{
    width: 35px;
    height: 30px;
    background-color: #63666A;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
  }
  .main_live_chat_inputbox_btn:active {
    transform: scale(0.95);
    transition: transform 0.1s;
  }

  /* 채팅 뷰 영역 */
  .live_chat_layout {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 120px - 80px);
    align-items: center;
  }
  .live_chat_viewWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: auto;
    max-height: calc(100vh - 120px - 80px);
  }
  
  .live_chat_chatting {
    background-color: rgba(255, 255, 255, 0.65);
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 10px;
    min-height: 30px;
    align-items: flex-start;
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 4px 8px 4px 6px;
    overflow-wrap: anywhere;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    gap: 4px;
    text-align: left;
  }
  
  .live_chat_badge {
    display: inline-flex;
    background-color: #ee8143;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    vertical-align: top;
    margin-right: 4px;
  }
  .live_chat_username {
    font-size: 14px;
    color: #9371da;
    margin-right: 5px;
  }
  .live_chat_userchat {
    font-size: 14px;
    color: var(--white);
    line-height: 1.6;
  }
  .live_chat_userchatBot {
    font-size: 12px;
    color: var(--white);
    margin-left: 5px;
  }

