.OpenSidebar {
    width: 240px;
    height: 100vh;
    background-color: #261A1A;
    color: white;
    position: fixed;
    left: 0;
    margin: auto;
    text-align: center;
    align-items: center;
}

.CloseSidebar {
    width: 66px;
    height: 100vh;
    background-color: #261A1A;
    color: white;
    position: fixed;
    left: 0;
    margin: auto;
    text-align: center;
    align-items: center;
}

.button {
    cursor: pointer;
    width: 66px;
    height: 60px;
    margin: auto;
    border: 0px;
    border-radius: 0px;
    background-color: #261A1A;
}

.button :hover {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 10px;
}