.Section_container {
    width: 100%;
    min-width: 600px;
}

.Section {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'NPSfontBold';
}

.h2 {
    color: white;
    font-family: 'NPSfontBold';
}

.all_category {
    color: white;
    font-family: 'NPSfontBold';
    font-size: 15px;
}

.Section_List {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -14px 0px 0;
}

.Section_Item {
    padding: 0 14px 30px 0;
    width: 33.333%;
    list-style: none;
}

@media screen and (min-width: 1790px) {
    .Section_Item {
        width: 25%;
    }
}

@media screen and (min-width: 1490px) {
    .Section_Item {
        width: 20%;
    }
}

.Video_card_container {
    word-wrap: break-word;
    height: 100%;
    word-break: break-all;
}

.Video_card {
    border-radius: 12px;
    display: block;
    position: relative;
    cursor: pointer;
    object-fit: contain;
}

.Img {
    object-fit: contain;
    width: 100%;
}

.video_card_wrapper {
    display: flex;
    min-width: 0;
    width: 100%;
}

.video_card_img {
    flex: none;
    margin-right: 10px;
}

.video_card_title {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
}

.video_card_title_link {
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: white;
    font-size: 15px;
    line-height: 21px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video_card_title_container {
    color: white;
    min-width: 0;
}

.video_card_name {
    font-family: 'NPSfontBold';
    cursor: pointer;
    margin: 0 0 -3px -5px;
    font-size: 13px;
    display: block;
}

.video_card_name :hover {
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 5px;
}

.video_card_name1 {
    overflow: hidden;
    padding: 3px 5px;
    width: 100%;
}

.video_card_tag {
    line-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video_card_tag1 {
    background-color: rgba(255, 228, 196, 0.199);
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 5px;
}
