.Section_Item {
    list-style: none;
    width: 95%;
}

.Video_card_container {
    word-wrap: break-word;
    height: 100%;
    word-break: break-all;
}

.Video_card {
    border-radius: 12px;
    display: block;
    position: relative;
    cursor: pointer;
    object-fit: contain;
}

.Img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
}

.video_card_wrapper {
    display: flex;
    min-width: 0;
    width: 100%;
}

.video_card_img {
    flex: none;
    margin-right: 10px;
}

.video_card_title {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    position: relative;
}

.video_card_title_link {
    width: 100%;
    font-weight: 600;
    color: white;
    font-size: 15px;
    line-height: 21px;
    position: relative;
    display: inline-block;
}

.video_card_title_link > p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video_card_title_link:hover::after {
    content: attr(data-tooltip); /* data-tooltip 속성값을 툴팁 내용으로 사용 */
    position: absolute;
    bottom: 100%; /* 툴팁을 텍스트 위에 표시 */
    left: 50%;
    transform: translateX(-50%);
    background-color: #422d2dde;
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    z-index: 10;
    font-size: 12px;
    pointer-events: none; /* 툴팁이 마우스 이벤트를 받지 않도록 설정 */
    opacity: 0;
    transition: opacity 0.3s;
}

.video_card_title_link:hover::after {
    opacity: 1;
}

.video_card_title_container {
    color: white;
    min-width: 0;
    width: 100%;
}

.video_card_name {
    font-family: 'NPSfontBold';
    cursor: pointer;
    margin: 0 0 -3px -5px;
    font-size: 13px;
    display: block;
}

.video_card_name :hover {
    background-color: rgba(255, 255, 255, 0.137);
    border-radius: 5px;
}

.video_card_name1 {
    overflow: hidden;
    padding: 3px 5px;
    width: 100%;
}

.video_card_tag {
    line-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.video_card_tag_link {
    margin-right: 5px;
}

.video_card_tag1 {
    background-color: rgba(255, 228, 196, 0.199);
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 5px;
}
.video_card_tag1:hover {
    background-color: rgba(255, 228, 196, 0.363);
}
