.studio_header {
  width: 100%;
  height: 60px;
  background-color: var(--orange);
  display: flex;
  position: fixed;
  z-index: 100;
}

.studio_header_maintitle {
  font-size: 30px;
  align-self: center;
  padding-left: 70px;
}

.studio_header_subtitle {
  font-size: 18px;
  color: var(--white);
  line-height: 70px;
}

.studio_test {
  background-color: var(--black);
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.studio_main {
  border: 1px solid tomato;
  min-height: calc(100vh - 60px);
  min-width: calc(100vw - 350px);
  position: fixed;
}

/* @media (max-width: 1200px) {
  .studio_main {
  }
} */

.studio_main > div {
  border: 1px solid skyblue;
  color: white;
}
.studio_main > div > div {
  border: 1px solid tomato;
}

/* .studio_main_left {
}
.studio_main_right {
} */

.studio_main_liveWindow {
  width: 1000px;
  height: 400px;
  position: fixed;
  left: 0;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.studio_main_setting {
  width: 1000px;
  height: calc(100vh - 60px - 400px);
  position: fixed;
  left: 0;
  top: 460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "NPSfontBold";
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
.studio_main_setting > div:nth-child(1) {
  margin-top: 0px;
}
.studio_main_setting > div {
  height: 50px;
  margin-top: 5px;
  display: flex;
}

.studio_main_setting_broadcastTitle_inputbox {
  background-color: white;
  height: 40px;
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
}

.studio_main_setting_broadcastCategory_inputbox {
  background-color: white;
  height: 40px;
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  line-height: 40px;
  padding-left: 5px;
}

.studio_main_setting_streamKey_inputbox {
  background-color: white;
  height: 40px;
  width: 400px;
  margin-left: 50px;
  border-radius: 5px;
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
.studio_main_setting_streamKey_copybtn {
  height: 30px;
  width: 65px;
  background-color: #d3d6ed;
  border-radius: 6px;
  font-size: 16px;
  color: #625fde;
  text-align: center;
  padding: 7px;
  margin-left: 20px;
  align-self: flex-end;
  margin-bottom: 5px;
}
.studio_main_setting_streamKey_reissuance {
  height: 30px;
  width: 65px;
  background-color: #625fde;
  border-radius: 6px;
  font-size: 16px;
  color: #f1f1f1;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  align-self: flex-end;
  margin-bottom: 5px;
}

.studio_main_setting_broadcastInfo_text {
  font-size: 10px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.studio_main_setting_broadcastInfo_text > p {
  margin-top: 10px;
  width: 50%;
}

/* .studio_main_setting_broadcastSetting {
  display: flex;
} */

.studio_main_setting_broadcastSetting > div {
  flex: 1;
  display: flex;
}
.studio_main_setting_broadcastSetting_title {
  width: 20%;
}
.studio_main_setting_broadcastSetting_property {
  border: 1px solid tomato;
  width: 80%;
}
.studio_main_setting_broadcastSetting_property_checkboxes {
  display: flex;
  flex-wrap: wrap;
}
.studio_main_setting_broadcastSetting_property_checkboxes > * {
  width: 30%;
  margin-bottom: 20px;
}

.studio_main_setting_broadcastSetting_property_checkboxes > *:nth-child(2){
  width: 40%;
}

.studio_main_setting_broadcastSetting_property_pwText {
  width: 50%;
  padding: 2px;
}
.studio_main_setting_broadcastSetting_property_pwBtn{
  width: 40px;
  background-color: #625fde;
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.studio_main_setting_broadcastSetting_property_pwBtn:active {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.studio_main_setting_broadcastSetting_propertyfont {
  font-size: 11px;
}

.studio_main_setting_chatRights_property {
  border: 1px solid #625fde;
  width: 80%;
  /* display: flex; */
}

.studio_main_setting_chatRights_property_checkboxes {
  display: flex;
  flex-wrap: wrap;
}
.studio_main_setting_chatRights_property_checkboxes > * {
  width: 50%;
  margin-bottom: 20px;
}

.studio_main_previewImg {
  width: calc(100vw - 1350px);
  height: 250px;
  position: fixed;
  left: 1000px;
  top: 60px;
  font-family: "NPSfontBold";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.studio_main_chatRole {
  width: calc(100vw - 1350px);
  height: 300px;
  position: fixed;
  left: 1000px;
  top: calc(60px + 250px);
  font-family: "NPSfontBold";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.studio_main_banWord {
  width: calc(100vw - 1350px);
  height: calc(100vh - 60px - 250px - 300px);
  position: fixed;
  left: 1000px;
  top: calc(60px + 250px + 300px);
  font-family: "NPSfontBold";
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.studio_main_liveWindowBox {
  background-color: #d9d9d9;
  width: 950px;
  height: 350px;
  border-radius: 10px;
}

.studio_main_previewImg_title {
  width: calc(100vw - 1350px);
  font-size: 18px;
}

.studio_main_previewImg_box {
  background-color: #d9d9d9;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  color: #868686;
  font-size: 40px;
  text-align: center;
  line-height: 200px;
}

.studio_main_chatRole_title {
  width: calc(100vw - 1350px);
  font-size: 18px;
}

.studio_main_chatRole_box {
  background-color: white;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  color: #868686;
  font-size: 12px;
  padding: 10px;
}
.studio_main_chatRole_btnlayout {
  width: calc(100vw - 1350px);
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.studio_main_chatRole_btn {
  background-color: #d3d6ed;
  border-radius: 5px;
  width: 50px;
  height: 25px;
  color: #625fde;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.studio_main_banWord_title {
  width: calc(100vw - 1350px);
  font-size: 18px;
}

.studio_main_banWord_layout {
  border: 1px solid tomato;
  width: 95%;
  height: 80%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.studio_main_banWord_tag {
  background-color: #eadef3;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  color: #402422;
  font-size: 12px;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}
.studio_main_banWord_tag > p {
  color: #402422;
  font-size: 12px;
}
.studio_main_banWord_Search {
  background-color: #f0f0f0;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  display: flex;
  color: #402422;
  font-size: 12px;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}
/* 
  채팅
*/

.studio_chat {
  background-color: black;
  width: 350px;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
}
.studio_chat_title {
  color: var(--white);
  /* width: 100%; */
  height: 60px;
  border-bottom: 1px solid var(--white);
}
.studio_chat_title > p {
  font-size: 24px;
  line-height: 60px;
  padding-left: 20px;
  font-family: "NPSfontBold";
}

.studio_chat_layout {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  min-height: calc(100vh - 120px);
  align-items: center;
}

.studio_chat_chatting {
  background-color: rgba(255, 255, 255, 0.65);
  min-width: 320px;
  max-width: 320px;
  margin-bottom: 20px;
  min-height: 30px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 5px;
}

.studio_chat_badge {
  background-color: #ee8143;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-right: 5px;
}
.studio_chat_username {
  font-size: 14px;
  color: #9371da;
  margin-right: 5px;
}
.studio_chat_userchat {
  font-size: 12px;
  color: var(--white);
}
.studio_chat_userchatBot {
  font-size: 12px;
  color: var(--white);
  margin-top: 5px;
  margin-left: 5px;
}
