.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.slide {
    width: 530px;
    height: 300px;
    position: relative;
    /* z-index를 조정하기 위해 필요 */
    background-color: #836a6a;
}

.left_right_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 2em;
    z-index: 0;
}

.left_right_button:first-child {
    left: 10px;
}

.left_right_button:last-child {
    right: 10px;
}