.slider {
    display: flex;
    justify-content: center;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 250px;
    height: 300px;
    margin-right: 10px;
    display: none;
    background: #422d2d;
}

.left_right_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 2em;
    z-index: 1;
}

.left_right_button:first-child {
    left: 10px;
}

.left_right_button:last-child {
    right: 10px;
}