.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1900px;
}

.slide {
    width: 530px;
    height: 300px;
    position: relative;
    background-color: #836a6a;
    transition: all 0.4s ease;
    z-index: 1;
}

.left_right_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 2em;
}

.left_right_button:first-child {
    left: 10px;
    z-index: 100;
}

.left_right_button:last-child {
    right: 10px;
    z-index: 100;
}